{%extends 'app/base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css" />

{% endblock %} {% block contenido %}
<br />
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2><strong> {{event.event_name}} </strong></h2>

                    <h4><strong>Date: </strong>{{event.event_date}}</h4>

                    <div class="border" style="padding: 10px">
                        <h6 class="card-subtitle mb-2 text-muted">Event Description:</h6>
                        <p class="card-text">{{event.event_description}}</p>
                    </div>

                    <div>
                        <br />
                        <form action="{% url 'subscribe_event'%}" method="post">
                            {% csrf_token %}
                            {% if user.is_authenticated %}
                            {% if is_subscribed%}
                            <button type="submit" name="event_id" value="{{event.id}}"
                                class="btn btn-danger">Unsubscribe</button>
                            {% else %}
                            <button type="submit" name="event_id" value="{{event.id}}"
                                class="btn btn-primary">Subscribe</button>
                            {% endif %}

                        </form>
                        <br>
                        <div>
                            <small class="text-muted">
                                <p style="vertical-align: inherit;">{{total_subs}} Subscribers</p>
                            </small>
                        </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />

{% endblock %}